* {
    margin: 0;
    padding: 0;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0)
    }
    20%,
    60% {
        transform: rotate(-25deg)
    }
    40%,
    80% {
        transform: rotate(10deg)
    }
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}

html,
body {
    min-height: 100vh;
    width: 100%;
}

body {
    font-family: 'EB Garamond', sans-serif;
    display: flex;
    align-items: center;
    justify-content: stretch;
    background: #0c7c5c;
    color: white;
    text-align: center;
}

.phonetics {
    font-style: italic;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 1.5rem
}

h1,
h2 {
    text-shadow: 0px 0px 1px darkgray;
}

p {
    padding-top: 2.5rem;
    font-size: 1.6rem;
}

main {
    flex: 1 1 auto;
}

.logo {
    margin: 2em 0;
}

.mission-statement {
    font-style: italic;
}

.mission-statement > .highlight {
    font-weight: bold;
}

.vision-wrapper {
    display: flex;
    flex-direction: row;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
}

.vision-statement {
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}

.vision-statement > .quotemark {
    line-height: 1em;
    font-size: 2em;
    color: #29A6A6;
}
